name: Lint

permissions:
  contents: read

on:
  push:
    tags-ignore:
      - '*'
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_call:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Open ssh debug session.'
        required: true
        default: false
        type: boolean

jobs:

  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # run static analysis on bleeding and trailing edges
        python-version: ['3.10', '3.12', '3.14']
        django-version:
          - 'dj42'    # LTS April 2024
          - 'dj52'    # April 2028
          - 'dj60'    # April 2027
        exclude:
          - python-version: '3.12'
            django-version: 'dj42'
          - python-version: '3.14'
            django-version: 'dj42'

          - python-version: '3.10'
            django-version: 'dj52'
          - python-version: '3.14'
            django-version: 'dj52'

          - python-version: '3.10'
            django-version: 'dj60'
          - python-version: '3.12'
            django-version: 'dj60'

    env:
      TEST_PYTHON_VERSION: ${{ matrix.python-version }}
      TEST_DJANGO_VERSION: ${{ matrix.django-version }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        id: sp
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
        with:
          enable-cache: false
      - name: Install Just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff
      - name: Install Emacs
        if: ${{ github.event.inputs.debug == 'true' }}
        run: |
          sudo apt install emacs
      - name: Setup tmate session
        if: ${{ github.event.inputs.debug == 'true' }}
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101
        timeout-minutes: 60
      - name: Run Static Analysis
        env:
          PYTHON_PATH: ${{ steps.sp.outputs.python-path }}
        run: |
          just check -p "$PYTHON_PATH" --group "$TEST_DJANGO_VERSION"
